@lightgray: lightgray;
@blue: blue;
@white: white;
@green: #436600;

.margenes(@top: 0px, @bottom: 0px) {
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @green;
  color: @white;
  .margenes(50px, 15px);
}

.btn-primary {
  background-color: @green;
}

.btn-info {
  background-color: @green;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: @green;
  .margenes(10px, 0px);
}

.card-producto {
  flex: 1 230px;
  .margenes(10px, 0px);
}

.btn-info {
  width: 100%;
  border-radius: 0px;
}

.link-footer {
  color: @white;
}

.footer-address-icon {
  padding-right: 10px;
}

.card-product-info {
  padding-left: 10px;
}

.navbar {
  background-color: @lightgray;
}

.product-icon {
  text-align: center;
}

.tab-content {
  .margenes(10px, 0px);
}

.btn-suscribe {
  background-color: @blue;
  .margenes(10px, 0px);
}
