.jumbotron {
  background-color: #436600;
  color: white;
  margin-top: 50px;
  margin-bottom: 15px;
}
.btn-primary {
  background-color: #436600;
}
.btn-info {
  background-color: #436600;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #436600;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-producto {
  flex: 1 230px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-info {
  width: 100%;
  border-radius: 0px;
}
.link-footer {
  color: white;
}
.footer-address-icon {
  padding-right: 10px;
}
.card-product-info {
  padding-left: 10px;
}
.navbar {
  background-color: lightgray;
}
.product-icon {
  text-align: center;
}
.tab-content {
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-suscribe {
  background-color: blue;
  margin-top: 10px;
  margin-bottom: 0px;
}
